---
import SectionOne from "@/components/SectionOne.astro";
import Layout from "../layouts/Layout.astro";
import SectionTwo from "@/components/SectionTwo.astro";
import SectionThree from "@/components/SectionThree.astro";
import SectionFour from "@/components/SectionFour.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<SectionOne />
		<SectionTwo />
		<SectionThree />
		<SectionFour />
	</main>
</Layout>
