---
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer>
  <header>
    <div
      class="flex flex-row justify-between items-center mt-7 md:mt-20 text-white-neutral font-heading font-regular-raleway"
    >
      <img class="w-auto h-7" src="/images/logo.svg" alt="logo" />
      <nav>
        <ul class="flex content-between gap-10">
          <li>Features</li>
          <li>Team</li>
          <li>Sign In</li>
        </ul>
      </nav>
    </div>
  </header>
</SectionContainer>
