---
import CtaButton from "./CtaButton.astro";
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer
  class="text-white-neutral/70 bg-dark-blue-2 ml-0 mr-0 py-20 pb-72 mx-32 gap-10"
>
  <div
    class="mx-20 border border-dark-blue-4 rounded-md bg-dark-blue-4 shadow-dark-blue-2
    shadow-testimonial text-left py-4 px-4"
  >
    <p class="text-xs py-3">
      Fylo has improved our team productivity by an order of magnitude. Since
      making the switch our team has become a well-oiled collaboration machine.
    </p>
    <div class="flex items-center py-3">
      <img
        class="rounded-full w-auto h-7 mr-2 xl:h-9"
        src="/images/profile-1.jpg"
        alt=""
      />
      <div class="text-left">
        <h2 class="font-regular-raleway text-sm text-white-neutral/100">
          Satish Patel
        </h2>
        <p class="text-xs"><small>Founder & CEO, Huddle</small></p>
      </div>
    </div>
  </div>
  <div
    class="mx-20 border border-dark-blue-4 rounded-md bg-dark-blue-4 shadow-dark-blue-2
    shadow-testimonial text-left py-4 px-4"
  >
    <p class="text-xs py-3">
      Fylo has improved our team productivity by an order of magnitude. Since
      making the switch our team has become a well-oiled collaboration machine.
    </p>
    <div class="flex items-center py-3">
      <img
        class="rounded-full w-auto h-7 mr-2 xl:h-9"
        src="/images/profile-2.jpg"
        alt=""
      />
      <div class="text-left">
        <h2 class="font-regular-raleway text-sm text-white-neutral/100">
          Bruce McKenzie
        </h2>
        <p class="text-xs"><small>Founder & CEO, Huddle</small></p>
      </div>
    </div>
  </div>
  <div
    class="mx-20 border border-dark-blue-4 rounded-md bg-dark-blue-4 shadow-dark-blue-2
    shadow-testimonial text-left py-4 px-4"
  >
    <p class="text-xs py-3">
      Fylo has improved our team productivity by an order of magnitude. Since
      making the switch our team has become a well-oiled collaboration machine.
    </p>
    <div class="flex items-center py-3">
      <img
        class="rounded-full w-auto h-7 mr-2 xl:h-9"
        src="/images/profile-3.jpg"
        alt=""
      />
      <div class="text-left">
        <h2 class="font-regular-raleway text-sm text-white-neutral/100">
          Iva Boyd
        </h2>
        <p class="text-xs"><small>Founder & CEO, Huddle</small></p>
      </div>
    </div>
  </div>
</SectionContainer>
<div
  class="absolute text-white-neutral/80 mx-7 -mt-44 border border-dark-blue-4 rounded-md bg-dark-blue-2 shadow-dark-blue-2
  shadow-testimonial text-center py-4"
>
  <h2 class="font-bold-raleway text-base text-white-neutral/100">
    Get early access today
  </h2>
  <p class="text-base py-3 px-12 text-pretty">
    It only takes a minute to sign up and our free starter tier is extremely
    generous. If you have any questions, our support team would be happy to help
    you.
  </p>

  <form action="" class="px-7 order-2">
    <div class="w-full px-5">
      <input
        class="border text-blue text-left text-sm border-black rounded-full py-4 w-full px-5 mt-7"
        type="email"
        placeholder="email@example.com"
      />
    </div>

    <div class="my-7">
      <CtaButton class="bg-blue px-20">Get Started For Free</CtaButton>
    </div>
  </form>
</div>
