---
import CtaButton from "./CtaButton.astro";
import SectionContainer from "./SectionContainer.astro";
---

<SectionContainer class="text-white-neutral mt-32 mb-10 mx-16 gap-10">
  <div
    class="border border-dark-blue-4 rounded-md bg-dark-blue-4 shadow-dark-blue-2
    shadow-testimonial text-left py-4 px-4"
  >
    <p class="text-sm py-3">
      Fylo has improved our team productivity by an order of magnitude. Since
      making the switch our team has become a well-oiled collaboration machine.
    </p>
    <div class="flex items-center py-3">
      <img
        class="rounded-full w-auto h-8 mr-4 xl:h-9"
        src="/images/profile-1.jpg"
        alt=""
      />
      <div class="text-left">
        <h2 class="font-regular-raleway text-sm">Satish Patel</h2>
        <p class="text-xs">Founder & CEO, Huddle</p>
      </div>
    </div>
  </div>
  <div
    class="border border-dark-blue-4 rounded-md bg-dark-blue-4 shadow-dark-blue-2
    shadow-testimonial text-left py-4 px-4"
  >
    <p class="text-sm py-3">
      Fylo has improved our team productivity by an order of magnitude. Since
      making the switch our team has become a well-oiled collaboration machine.
    </p>
    <div class="flex items-center py-3">
      <img
        class="rounded-full w-auto h-8 mr-4 xl:h-9"
        src="/images/profile-2.jpg"
        alt=""
      />
      <div class="text-left">
        <h2 class="font-regular-raleway text-sm">Bruce McKenzie</h2>
        <p class="text-xs">Founder & CEO, Huddle</p>
      </div>
    </div>
  </div>
  <div
    class="border border-dark-blue-4 rounded-md bg-dark-blue-4 shadow-dark-blue-2
    shadow-testimonial text-left py-4 px-4"
  >
    <p class="text-sm py-3">
      Fylo has improved our team productivity by an order of magnitude. Since
      making the switch our team has become a well-oiled collaboration machine.
    </p>
    <div class="flex items-center py-3">
      <img
        class="rounded-full w-auto h-8 mr-4 xl:h-9"
        src="/images/profile-3.jpg"
        alt=""
      />
      <div class="text-left">
        <h2 class="font-regular-raleway text-sm">Iva Boyd</h2>
        <p class="text-xs">Founder & CEO, Huddle</p>
      </div>
    </div>
  </div>
</SectionContainer>
