---
import CtaButton from "./CtaButton.astro";
import SectionContainer from "./SectionContainer.astro";
---

<div class="absolute -z-10">
  <img
    class="w-full px-0 pl-0 mx-1 ml-0 mr-0 mt-28 pt-36"
    src="/images/bg-curvy-mobile.svg"
    alt=""
  />
  <div class="bg-dark-blue-2 px-auto py-32">
    <br />
  </div>
</div>
<SectionContainer class="text-white-neutral mt-10">
  <div class="flex justify-center">
    <img
      class="w-auto px-7 mt-7 mb-14"
      src="/images/illustration-intro.png"
      alt=""
    />
  </div>
  <div>
    <h1 class="text-3xl font-heading font-bold-raleway">
      All your files in one secure location, accessible anywhere.
    </h1>
  </div>
  <div>
    <p class="text-lg text-wrap px-7 py-7">
      Fylo stores all your most important files in one secure location. Access
      them wherever you need, share and collaborate with friends family, and
      co-workers.
    </p>
  </div>
  <div class="my-7">
    <CtaButton class="bg-blue px-28"> Get Started </CtaButton>
  </div>
</SectionContainer>
